* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 25%);
  }
}

body {
  font-family: $font-family;
  color: $primary-color;
  font-weight: 300;
  margin: 0 auto;
  background-color: $background-color;
  min-height: 100vh;

  text-align: center;
  @include flexBox(column, center, center);
  @include desktop {
    text-align: left;
  }
}

header {
  width: 100%;
  @include flexBox(column, center, center);
  flex-grow: 1;
  padding: 2rem 2rem 1rem;
  &.active {
    flex-grow: 0;
  }
  @include tablet {
    flex-direction: row;
    &.active {
      padding: 1rem 3rem 1rem;
    }
  }
  @include desktop {
    justify-content: flex-start;
  }
}

.logo-div {
  transform: translate(0px, -5px);
  transition: transform 1s ease-in-out;
  .active & {
    img {
      width: 150px;
    }
  }
  @include tablet {
    .active & {
      flex: 0 1 25%;
      img {
        width: 90px;
      }
    }
    transform: translate(-5px, 0px);
  }
  @include desktop {
    .active & {
      flex: 0 1 15%;
    }
    transform: translate(0px, -5px);
  }
}

.selector-div {
  // transform: translate(0px, 5px);
  transition: padding 1s ease-in-out;
  font-size: 0.87rem;
  padding: 1rem 2rem 2rem;
  @include tablet {
    font-size: 1rem;
    .active & {
      flex: 0 1 75%;
      text-align: left;
      padding-bottom: 1.5rem;
    }
    padding-left: 3rem;
    // transform: translate(5px, 0px);
  }
  @include desktop {
    .active & {
      flex: 0 1 85%;
    }
    padding-left: 4rem;
    // transform: translate(20px, -5px);
  }
  label {
    display: block;
    font-weight: 500;
    padding: 10px 0;
  }
  //select plugin
  .selectric {
    z-index: 1;
    .button {
      background: orange;
      width: 1.5rem;
      height: 1.5rem;
    }
    .label {
      text-align: left;
      padding-left: 16px;
      height: 2rem;
      line-height: 1.5rem;
      margin: 0 auto;
    }
    width: 7rem;
    height: 1.5rem;
    border-radius: 5px;
    @include tablet {
      width: 7.5rem;
    }
  }
}
.loading-div {
  img {
    width: 3rem;
  }
  width: 100%;
  text-align: center;
  display: none;
  @include tablet {
    text-align: left;
  }
}
article {
  @include flexBox(column, center, center);
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.story {
  // height: 400px;
  flex-basis: 100%;
  width:100%;
  .background {
    @include flexBox(row, center, flex-end);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position: relative;
    height: 420px;
    transform: scale(1);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
    margin:0 auto;
  }

  overflow: hidden;
  &:hover {
    .background {
      opacity: 1;
      transform: scale(1.1);
    }
    .abstract {
      transform: translateY(0);
    }
  }
  @include tablet {
    flex-basis: 50%;
    width: 100%;
  }
  @include desktop {
    flex-basis: 25%;
  }
  .abstract {
    background: rgba(0, 0, 0, 0.7);
    text-align: left;
    transform: translateY(100%);
    width: 92%;
    transition: transform 0.5s;
    // padding: 2px;
    p {
      margin: 0 auto;
      padding: 8px 8px 26px 14px;
    }
  }
}

footer {
  padding: 0.8rem 2rem 2rem;
  width: 100%;
  flex-grow: 0;
}
